:root {
  --fundo_site: #051D3B;
  --branco: #fff;
  --cinza_menu: #666666;
  --inter: 'Inter', sans-serif;
  --roboto: 'Roboto Mono', monospace;
  --botao2-n: rgba(80, 129, 251, 0.08);
  --botao2-h: rgba(80, 129, 251, 0.16);
  --botao2-a: rgba(80, 129, 251, 0.24);
  --botao1-n:#5081FB;
  --botao1-h: #7BA4FC;
  --botao1-a: #7BA4FC;
  --botao1-a-border: rgba(80, 129, 251, 0.72);
  --botao1-f: #96B9FD;
  --menu-n: rgb(80, 129, 251);
  --menu-n-opa: 0.16;
  --menu-h: rgb(80, 129, 251);
  --menu-h-opa: 0.64;
  --menu-a: #5081FB;
  --input-n: rgba(255, 255, 255, 0.16);
  --input-h: rgba(255, 255, 255, 0.24);
  --icon-n: #051D3B;
  --icon-h: rgba(80, 129, 251, 0.08);
  --icon-a: rgba(80, 129, 251, 0.16);
  --comunidade-projeto-bg: rgba(0, 0, 0, 0.16);
  --icon-like-h: rgba(255, 255, 255, 0.08);
  --icon-like-a: rgba(255, 255, 255, 0.16);
}

body {
  background-color: var(--fundo_site);
}

.texto_geral {
  font-family: var(--inter);
  font-weight: 400;
  font-size: 1rem;
}

.titulo {
  font-family: var(--inter);
  font-weight: 700; 
}

.header {
  display: flex;
  margin: 2rem;
  justify-content: space-between;
  align-items: center;
}

.header_img {
  cursor: pointer;
}

.header_input {
  padding: 1em;
  color: var(--branco);
  width:50%;
  background-color: var(--input-n);
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  left: 25%;
}

.header_input:hover {
  background-color: var(--input-h);
}

.botao_procurar {
  display: none;
}

.header_usuario {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 106px;
  height: 56px;
  padding: 12px;
  box-sizing: border-box;
  border-radius: .5rem;
}

.header_usuario:hover {
  background: var(--icon-like-h);
}

.header_usuario_nome {
  color: var(--branco);
  margin-left: .5rem;
}

.corpo {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

.menu_toggle {
  display: none;
}

.menu {
  width: 20%;
}

.menu_titulo , .opcoes_personalizacao_titulo  , .opcoes_projeto_titulo {
  color: var(--branco);
  font-size: .75rem;
  text-transform: uppercase;
  margin-bottom: .5rem;
  letter-spacing: 0.3em;
}

.menu_navegacao_lista_bg {
  background: var(--menu-n);
  opacity: var(--menu-n-opa)  ;
  border-radius: 16px;
  width: 48px;
  height: 48px;
  margin: 0.5rem 0.5rem 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_navegacao_lista_bg_ativo {
  background: var(--menu-a);
  border-radius: 16px;
  width: 48px;
  height: 48px;
  margin: 0.5rem 0.5rem 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.menu_navegacao_lista_itens {
  align-items: center ;
  display: flex;
}

.menu_navegacao_lista_link {
  text-decoration: none;
  color: var(--branco);
  display: flex;
  align-items: center;
}

.menu_navegacao_lista_link:hover .menu_navegacao_lista_bg {
  background: var(--menu-h);
  opacity: var(--menu-h-opa);
}

.menu_navegacao_lista_link:active .menu_navegacao_lista_bg {
  background: var(--menu-a);
  opacity: var(--menu-a-opa);
}


.codigo {
  width: 50vw;
  display: flex;
  flex-direction: column;
}

.codigo_caixa { 
  background:#9AFF6B;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  border-radius: 1rem;
}

.codigo_caixa_preta {
  background-color: #000;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  box-shadow: 0 16px 10px rgba(0 ,0 ,0 ,0.24);
}

.codigo_caixa_pontos {
  margin: 9px;
}

.codigo_caixa_pontos_ponto {
  height: 9px;
  width: 9px;
}

.areaCodigo {
  /* padding: 1rem 0.5rem; */
  margin: 0 1.5rem 1.5rem 1.5rem;
  background-color: #000;
  min-height: 180px;
  width: 90%;
  box-sizing: border-box  ;
}


.codigo_caixa_input {
  font-family: var(--roboto);
  font-weight: 400;
  color: var(--branco);
  min-height: 100px;  
}

#codigo_input {
  background-color: transparent;
  white-space: pre;
}

.highlight_botao {
  width: 50vw;
  padding: 1rem;
  border-radius: .5rem;
  box-sizing: border-box;
  margin-top: 1rem;
  text-align: center;
  background-color: var(--botao2-n);
}

.highlight_botao:hover {
  background-color: var(--botao2-h);
}

.highlight_botao:active {
  background-color: var(--botao2-a);
}


.codigo_botao_link {
  text-decoration: none;
  color: var(--branco);
}

.opcoes {
  width: 20%;
}

.opcoes_projeto {
  display: flex;
  flex-direction: column;
}

.opcoes_caixa {
  padding: 1rem;
  border: none;
  border-radius: .5rem;
  background-color: var(--input-n);
  color: var(--branco);
  margin-bottom: 1rem;
}

.opcoes_caixa:hover {
  background-color: var(--input-h);
}

.opcoes_projeto_descricao {
  padding: 1rem;
  border: none;
  border-radius: .5rem;
  background-color: var(--input-n);
  color: var(--branco);
  margin-bottom: 1rem;
  resize: none;
}

.opcoes_projeto_descricao:hover {
  background-color: var(--input-h);
}

.opcoes_personalizacao {
  display: flex;
  flex-direction: column;
}

.opcoes_personalizacao_tipo_codigo {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: .5rem;
  background-color: var(--input-n);
  margin-bottom: 1rem;
  color: var(--branco);
}

.opcoes_personalizacao_tipo_codigo:hover {
  background-color: var(--input-h);
}

.opcoes_personalizacao_opcoes {
  background-color: var(--fundo_site);
  color: var(--branco);
}

.opcoes_borda_seletor_cor {
  height: 2rem;
  padding: .25rem;
  border: 1px solid var(--branco);
  border-radius: .5rem;
  color: var(--branco);
  margin-bottom: 1rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.opcoes_personalizacao_cor {
  width: 100%;
  padding: .5em;
  background: #9AFF6B;
  border-radius: .25rem;
}

.opcoes_personalizacao_cor_cores {
  background: transparent;
  padding: .5rem;
  font-size: 1.5rem;
}

#favcolor {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  border-radius: .5rem;
}

.botao_salvar_texto {
  text-decoration: none;
  color: black;
}

.botao_salvar {
  padding: 1rem;
  background-color: var(--botao1-n);
  text-align: center;
  border-radius: .5rem;
}

.botao_salvar:hover {
  background-color: var(--botao1-h);
}

.botao_salvar:active {
  background-color: var(--botao1-a);
  border: 4px solid var(--botao1-a-border);
}

/* Comunidade */
.codigo_comunidade {
  display: flex;
  width: 76%;
}

.grid_projetos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.codigo_comunidade_projeto {
  width: 48%;
  background: #fff;
  margin: 0 0 1.5rem;
  border-radius: 1rem;
  background-color: var(--comunidade-projeto-bg);
  transition: all 1s;
  height:380px;
  /* height: 430px; */
}

.codigo_caixa_preta_comunidade {
  background-color: #000;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  box-shadow: 0 16px 10px rgba(0 ,0 ,0 ,0.24);
}

.informacoes_projeto {
  margin: 1.5rem;
  
}

.codigo_comunidade_titulo_projeto {
  font-size: 1.25rem;
  color: var(--branco);
  margin-bottom: 0.5rem;
}

.codigo_comunidade_projeto_descricao {
  color: var(--branco);
  opacity: 0.8;
}

.interacoes_comunidade {
  opacity: 0;
  transform: translate(0 , -100%);
  position: relative;
  margin: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.codigo_comunidade_projeto:hover {
  height:430px;
}

.codigo_comunidade_projeto:hover .interacoes_comunidade {
  transform: translate(0 , 0);
  opacity: 1;
  transition: all 1s;
  z-index: -1;
}

.comentarios_likes {
  display: flex;
  align-items: center;
  height: 40px;
}

.comentarios , .likes {
  display: flex;
  width: 58px;
  align-items: center;
  background: transparent;
  border-radius: 1rem;
}

.comentarios:hover , .likes:hover {
  background: var(--icon-like-h);
}

.comentarios:active , .likes:active {
  background: var(--icon-like-a);
}

.icone_comentarios , .icone_likes {
  margin: 11.25px 10px;
  width: 20px;
  height: 17.5px;
  fill: red;
}

.numero_comentarios {
  color: var(--branco);
}

.numero_likes {
  color: var(--branco);
}

.comunidade_usuario_autor {
  display: flex;
  align-items: center;
}

.comunidae_usuario_nome {
  color: var(--branco);
  margin-left: .5rem;
}

@media screen and (max-width: 1024px) {
  .corpo {
    flex-direction: column;
  }

  .menu {
    display: none;
  }

  .header {
    justify-content: initial;  
  }

  .header_input {
    align-items: center;
    margin-left: 10%;
    margin-right: calc(10% + 50px);
    width: 80%;
  }
  
  .header_usuario {
    display: none;
  }

  .menu_toggle {
    display: initial;
    position: absolute;
    height: 100%;
    right: 0;
    top: calc(2rem - 6px);
  }
  
  .menu_toggle nav {
    position: relative;
    top: 0;
    right: 0;
    height: 100%;
  }


  .menu_toggle input {
    position: relative;
    top: 0px;
    position: absolute;
    right: 2rem;
    height: 48px;
    width: 48px;
  
    cursor: pointer;
  
    z-index: 3;
    opacity: 0;
  }
  
  .vetor_menu {
    position: relative;
    top: 1.1rem;
    position: absolute;
    right: 3rem;
    z-index: 2;
  }

  .vetor_fechar_menu {
    position: relative;
    top: 1.1rem;
    position: absolute;
    right: 3rem;
    z-index: 2;
    display: none;
  }
  
  .menu_navegacao_lista {
    display: none;
    height: 100%;
    padding: 2rem;
    box-sizing: border-box;
    border-radius: .5rem;
    z-index: 2;
  }

  .menu_toggle input:checked ~ ul
  {
    display: block;
    background: #2D415B;
    transform: translate(0, 60px);
    width: 254px;
  }

  .menu_overlay {
    display: none;
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    overflow: hidden;
    background-color: rgba(0,0,0,.4);
  }  

  .menu_toggle input:checked ~ .menu_overlay
  {
    display: initial;
  }

  .menu_toggle input:checked ~ .vetor_menu
  {
    display: none;
  }

  .menu_toggle input:checked ~ .vetor_fechar_menu
  {
    display: initial;
  }

  .menu_navegacao_lista_itens {
    height: 48px;
    padding-bottom: 1rem;
  }

  .menu_navegacao_lista li:nth-child(2) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  }

  .header_usuario_toggle {
    display: flex;
    align-items: center;
    padding: 2rem 1rem;
  }

  .codigo {
    width: 100%;
  }

  .highlight_botao {
    width: 100%;
    margin-bottom: 2.5rem;
  }

  .opcoes_projeto_titulo {
    margin-bottom: 1rem;
  }

  .opcoes {
    width: 100%;
  }

  .opcoes_personalizacao {
    margin-bottom: 1rem;
  }
  .opcoes_personalizacao_titulo {
    margin-bottom: 1rem;
  }

  .opcoes_listas_cor_codigo {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 3rem;
    justify-content: space-between;
  }

  .opcoes_personalizacao_tipo_codigo {
    width: 49%;
    margin-bottom: 0;
  }

  .opcoes_borda_seletor_cor {
    width: 49%;
    height: 3rem;
    padding: 0;
    margin-bottom: 0;
  }

  .opcoes_personalizacao_cor {
    padding: 1rem;
    height: 80%;
    width: 97%;
  }
  

  .codigo_comunidade {
    width: 100%;
  }

  .codigo_comunidade_projeto {
    width: 100%;
  }

  .interacoes_comunidade {
    display: flex;

  }

  @media screen and (max-width: 768px) {
    .header {
      margin-left: 1rem;
      margin-right: 1rem;
    }
    
    .header_input {
      display: none;
    }

    .botao_procurar {
      position: inherit;
      display: initial;
      position: absolute;
      right: 5rem;
    }

    .menu_toggle {
      top: calc(2rem - 10px);
      right: -1rem;
    }

    .corpo {
      margin-left: 1rem;
      margin-right: 1rem;
    }
    
  }
}