:root {
  --fundo_site: #051D3B;
  --branco: #fff;
  --barra_busca: #2D415A;
  --cinza_menu: #666666;
  --inter: 'Inter', sans-serif;
  --roboto: 'Roboto Mono', monospace;
}

body {
  background-color: var(--fundo_site);
}

.texto_geral {
  font-family: var(--inter);
  font-weight: 400;
  font-size: 1rem;
}

.titulo {
  font-family: var(--inter);
  font-weight: 700; 
}

.header {
  display: flex;
  margin: 2rem;
  justify-content: space-between;
}

.header_input {
  padding: 1em;
  color: var(--branco);
  width:50%;
  background-color: var(--barra_busca);
  border: none;
  border-radius: 10px;
}

.header_usuario {
  display: flex;
  align-items: center;
  width: 145px;
  justify-content: flex-end;
}

.header_usuario_nome {
  color: var(--branco);
  margin-left: .5rem;
}

.corpo {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

.menu {
  width: 20%;
}

.menu_titulo {
  color: var(--branco);
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: .5rem;
}

/*.menu_navegacao_lista {
  display: flex;
  flex-direction: column;
}*/

.menu_navegacao_lista_bg {
  background: rgba(80, 129, 251, 0.16);
  border-radius: 16px;
  width: 48px;
  height: 48px;
  margin: 0.5rem 0.5rem 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_navegacao_lista_itens {
  /*height: 50px;*/
  align-items: center ;
  display: flex;
}

.menu_navegacao_lista_link {
  text-decoration: none;
  color: var(--branco);
  display: flex;
  align-items: center;
}

.menu_navegacao_lista_link:hover .menu_navegacao_lista_bg {
  background: rgba(80, 129, 251, 0.64);
}

.menu_navegacao_lista_link:active .menu_navegacao_lista_bg {
  background: #5081FB;
}


.codigo {
  width: 50vw;
}

.codigo_caixa { 
  background-color:#9AFF6B;
  align-items: center;
  justify-content: center;
  height: 288px;
  padding: 1.5rem;
  border-radius: 1rem;
}

.codigo_caixa_preta {
  background-color: #000;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  box-shadow: 0 16px 10px rgba(0 ,0 ,0 ,0.24);
}

.codigo_caixa_pontos {
  margin: 9px;
}

.codigo_caixa_pontos_ponto {
  height: 9px;
  width: 9px;
}

.codigo_caixa_input {
  margin: 0 1.5rem 1.5rem 1.5rem;
  color: var(--branco);
  background-color: #000;
  border: none;
  height: 230px;
  resize: none;
  font-family: var(--roboto);
  font-weight: 400;
}

.opcoes {
  width: 20%;
}

.opcoes_projeto {
  display: flex;
  flex-direction: column;
}
